doctype html
html(ng-app='lumeparkApp')
    head
        title Nõmme Lumepark

        meta(charset='utf-8')
        meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, minimal-ui')
        meta(name='apple-mobile-web-app-capable', content='yes')

        link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Raleway:400,700,300')
        link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')

        style @@include('stylesheet.css')

        script @@include('javascript.js')

    body
        nav.navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-header
                    .button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(ng-if='!user', href='/#/') Nõmme Lumepark
                    a.navbar-brand(ng-if='user', href='/#/') {{ user.name }}

                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right(ng-if='user')
                        li(ng-class='{ active: activeMenu === "bron" }')
                            a(href='/#/lendings/bron') Broneeringud
                        li(ng-class='{ active: activeMenu === "out" }')
                            a(href='/#/lendings/out') Rendis
                        li
                            a(href='/#/logout')
                                i.fa.fa-sign-out
                    ul.nav.navbar-nav.navbar-right(ng-if='!user')
                        li
                            a(href='/#/login')
                                i.fa.fa-sign-in

                    ul.nav.navbar-nav.navbar-right(ng-if='loading')
                        li.navbar-text
                            i.fa.fa-spinner.fa-spin

        .container
            .row
                img#logo.col-xs-10.col-sm-8.col-md-6.col-lg-6.col-xs-offset-1.col-sm-offset-2.col-md-offset-3.col-lg-offset-3(src='/images/nommelumepark.png')

        .container
            .row.spacer

            div(ng-view)

            .row.spacer

            include start
            include lendings
            include lending

    script.
        $(window).scroll(function(event) {
            if($(window).scrollTop() > 10) {
                $('.navbar').addClass('navbar-border')
            } else {
                $('.navbar').removeClass('navbar-border')
            }
        })
