script(type='text/ng-template', id='lending')
    div(ng-if='rData.user')

        .row.spacer

        .row
            .col-xs-12.col-sm-8
                form.row
                    .form-group.col-xs-12.col-sm-6
                        label(for='laenutaja') Klient
                        select#laenutaja.form-control(is-loading, ng-disabled='sData.customers.length < 1', ng-options='c.name as c.name group by c.name.substring(0, 1).toUpperCase() for c in sData.customers | orderBy : "name"', ng-model='sData.lending.laenutaja.db_value', ng-change='saveLending("laenutaja")')
                            option(value='') -- vali klient --

                    .form-group.col-xs-12
                        label(for='kirjeldus') Lisainfo
                        input#kirjeldus.form-control(is-loading, type='text', ng-model='sData.lending.kirjeldus.db_value', ng-blur='saveLending("kirjeldus")')

                    .form-group.col-xs-12.col-sm-6
                        label(for='algus') Broneeringu algus
                        input#algus.form-control(is-loading, type='text', ng-model='sData.lending.algus.db_value', ng-blur='saveLending("algus")', placeholder='+5, today, now, 31.01.2015 14:00')

                    .form-group.col-xs-12.col-sm-6
                        label(for='kestvus') Broneeringu kestvus
                        select#kestvus.form-control(is-loading, ng-model='sData.lending.kestvus.db_value', ng-change='saveLending("kestvus")')
                            option(value='') -- vali kestvus --
                            option(value='1h') 1h
                            option(value='3h') 3h
                            option(value='24h') päev

                .row.spacer

                .row(ng-if='sData.lending._id')
                    .col-xs-12
                        table.table
                            thead
                                tr
                                    th Varustus
                                    th Algus
                                    th Periood
                                    th Lõpp
                                    th &nbsp;
                            tbody
                                tr(ng-repeat='row in sData.lendingRows | filter : search | orderBy : "varustus.value"')
                                    td {{ row.varustus.value }}
                                    td {{ row.laenutuse-rida-bronnialgus.value }}
                                    td {{ row.laenutuse-rida-kestus.value }}
                                    td {{ row.laenutuse-rida-bronnil6pp.value }}
                                    td.text-right
                                        //- button.btn.btn-xs.btn-info.pull-right Tagasta
                                        button.btn.btn-xs.btn-warning Väljasta
                                    tr
                                        td(colspan=5)
                                            input#search-item.form-control(is-loading, type='text', placeholder='-- lisa varustus --', ng-model='sData.addLendingRowQuery' ng-keyup='searchLendingRowItem($event)')

            .col-xs-12.col-sm-4.col-xs-offset-0
                    table.table
                        caption
                        thead
                            tr
                                th.warning ARVE
                                th.warning.text-right(colspan=3)
                                    span(ng-if='sData.lending.erply.value') \#{{ sData.lending.erply.value }}
                        tbody
                            tr.warning(ng-repeat='row in sData.invoiceRows | orderBy : "name" track by $index')
                                td {{ row.name }}
                                td.text-right
                                    span(ng-if='row.quantity > 1') {{ row.quantity }}&nbsp;x
                                td.text-right {{ row.price.toFixed(1).replace('.0', '.-') }}
                                td(ng-if='!sData.lending.erply.value')
                                    button.btn.btn-xs.btn-danger.pull-right(ng-click='deleteInvoiceRow(row.id)') Kustuta
                            tr.warning(ng-if='!sData.lending.erply.value')
                                td(colspan=4)
                                    select.form-control(ng-disabled='sData.prices.length < 1', ng-options='p.name for p in sData.prices | orderBy : "name"', ng-model='sData.newInvoiceRow', ng-change='addInvoiceRow(sData.newInvoiceRow); sData.newInvoiceRow = null')
                                        option(value='') -- lisa arve rida --
                            tr.warning
                                th KOKKU
                                th.text-right(colspan=2) {{ sumInvoiceRows().toFixed(1).replace('.0', '.-') }}
                                th(ng-if='!sData.lending.erply.value') &nbsp;

        .row.spacer

        .row(ng-if='sData.lendingRows.length > 0')
            .col-xs-12.text-center
                button.btn.btn-lg.btn-info(ng-if='sData.lending.erply.value') Tagasta kõik
                button.btn.btn-lg.btn-warning(ng-if='!sData.lending.erply.value') Väljasta kõik ja loo arve

        .row.spacer
            //- pre.col-xs-12 {{ sData.lending | json }}

    #select-item-modal.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Sulge')
                        .glyphicon.glyphicon-remove-sign
                    h4.modal-title(ng-if='sData.foundItems.length === 0') Otsing '{{ sData.addLendingRowQuery }}' ei andnud ühtegi tulemust
                    h4.modal-title(ng-if='sData.foundItems.length === 1') Otsing '{{ sData.addLendingRowQuery }}' andis ühe tulemuse
                    h4.modal-title(ng-if='sData.foundItems.length > 1') Otsing '{{ sData.addLendingRowQuery }}' andis {{ sData.foundItems.length }} tulemust
                .modal-body
                    .row(ng-if='sData.foundItems.length > 0')
                        table.table.table-hover.col-xs-12
                            tbody
                                tr.click(ng-repeat='i in sData.foundItems | orderBy : "_name"', ng-click='addLendingRow(i)')
                                    td.col-xs-1.text-right {{ i.invnr.value }}
                                    td.col-xs-1.text-center(style='padding:3px')
                                        img.img-thumbnail.img-circle(ng-if='i.photo', ng-src='https://nommelumepark.entu.ee/api2/file-{{ i.photo.db_value }}', style='width:30px;height:30px;')
                                    td.col-xs-10(style='width:90%')
                                        strong {{ i._name }}
                                        br
                                        small {{ i.seisukord.value }}
                .modal-footer
                    .col-xs-12.text-center(ng-if='sData.foundItems.length === 0') kas sisestasid otsingu õigesti?
                    .col-xs-12.text-center(ng-if='sData.foundItems.length === 1') vali kas soovid seda laenutada
                    .col-xs-12.text-center(ng-if='sData.foundItems.length > 1') vali millist neist soovid laenutada

    script.
        $('#select-item-modal').on('hidden.bs.modal', function() {
            $('#search-item').focus()
            $('#search-item').select()
        })
