script(type='text/ng-template', id='lendings')
    div(ng-if='rData.user')

        .row.spacer

        form.row
            .col-xs-9.col-sm-8.col-md-6.col-lg-4.col-sm-offset-2.col-md-offset-3.col-lg-offset-4
                .form-group.has-feedback
                    input.form-control(type='search', ng-model='search')
                    span.glyphicon.glyphicon-search.form-control-feedback(aria-hidden="true")

        .row.spacer

        .row(ng-if='sData.lendings')
            .col-xs-12
                table.table
                    thead
                        tr
                            th Klient
                            th Algus
                            th Kestvus
                            th Lisainfo
                            th Arve #
                    tbody
                        tr(ng-repeat='lending in sData.lendings | filter : search | orderBy : "status"')
                            th
                                a(ng-href='/#/lending/{{ lending._id }}') {{ lending.laenutaja.db_value || '...' }}
                            td {{ lending.algus.db_value }}
                            td {{ lending.kestvus.db_value }}
                            td {{ lending.info.db_value }}
                            td {{ lending.erply.db_value }}
