script(type='text/ng-template', id='lending')

    form.row
        .form-group.col-xs-12.col-sm-6.col-md-4
            label(for='laenutaja') Klient
            select#laenutaja.form-control()
                option
                option(ng-repeat='c in customers | orderBy : "name"') {{ c.name }}

        .form-group.col-xs-12.col-sm-6.col-md-6
            label(for='kirjeldus') Info
            input#kirjeldus.form-control(type='text')

        .form-group.col-xs-6.col-md-2
            label(for='erply') Erply viide
            input#erply.form-control(type='text')

        //- .form-group.col-xs-6.col-md-2
        //-     label(for='laenutaja') Staatus
        //-     select#laenutaja.form-control()
        //-         option(value='bron') Broneering
        //-         option(value='out') Väljas
        //-         option(value='archive') Tagasi

    .row.spacer

    .row(ng-if='lendingRows')
        .col-xs-12.col-sm-7
            table.table
                thead
                    tr
                        th Varustus
                        th Algus
                        th Lõpp
                        th &nbsp;
                tbody
                    tr(ng-repeat='row in lendingRows | filter : search | orderBy : "status" : true')
                        td {{ row.name }}
                        td {{ row.info }}
                        td {{ row.info }}
                        td
                            button.btn.btn-xs.btn-info.pull-right Tagasta
                            //- button.btn.btn-xs.btn-success Väljasta
                        tr
                            td(colspan=4)
                                input#new-lending-row.form-control(type='text')

        .col-xs-12.col-sm-4.col-xs-offset-0.col-sm-offset-1
            table.table
                thead
                    tr
                        th(colspan=2) Erply hinnad
                tbody
                    tr(ng-repeat='row in erplyRows')
                        td {{ row }}
                        td
                            button.btn.btn-xs.btn-danger.pull-right Kustuta
                            //- button.btn.btn-xs.btn-success Väljasta
                    tr
                        td(colspan=2)
                            select.form-control(ng-change='addErplyRow(newErplyRow)', ng-model='newErplyRow')
                                option
                                option(ng-repeat='p in prices | orderBy : "name"', value='{{ p.name }}') {{ p.name }}

    .row.spacer

    .row(ng-if='lendingRows')
        //- button.btn.btn-lg.btn-info.col-xs-12.col-sm-4.col-sm-offset-4 Tagasta kõik
        button.btn.btn-lg.btn-success.col-xs-12.col-sm-4.col-sm-offset-4 Väljasta kõik
