script(type='text/ng-template', id='lending')
    div(ng-if='rData.user')

        .row.spacer

        .row
            .col-xs-12.col-sm-8
                form.row
                    .form-group.col-xs-12.col-sm-8
                        label(for='laenutaja') Klient
                        p(ng-if='sData.isArchived') {{ sData.lending.laenutaja.db_value }}
                        select#laenutaja.form-control(ng-if='!sData.isArchived', is-loading, ng-disabled='sData.customers.length < 1', ng-options='c.name as c.name group by c.name.substring(0, 1).toUpperCase() for c in sData.customers | orderBy : "name"', ng-model='sData.lending.laenutaja.db_value', ng-change='changeLending("laenutaja")')
                            option(value='') -- vali klient --

                    .form-group.col-xs-12.col-sm-4
                        label(for='payment-type') Makseviis
                        p(ng-if='sData.isArchived') {{ sData.paymentType }}
                        select#payment-type.form-control(ng-if='!sData.isArchived', ng-disabled='sData.paymentTypes.length < 1', ng-options='t.id as t.name for t in sData.paymentTypes | orderBy : "name"', ng-model='sData.paymentType')

                    .form-group.col-xs-12
                        label(for='info') Lisainfo
                        p(ng-if='sData.isArchived') {{ sData.lending.info.db_value }}
                        input#info.form-control(ng-if='!sData.isArchived', is-loading, type='text', ng-model='sData.lending.info.db_value', ng-blur='changeLending("info")')

                    .form-group.col-xs-12.col-sm-6
                        label(for='algus') Broneeringu algus
                        p(ng-if='sData.isArchived') {{ sData.lending.algus.db_value.substring(0, 16) }}
                        input#algus.form-control(ng-if='!sData.isArchived', is-loading, type='text', ng-model='sData.lending.algus.db_value', ng-blur='changeLending("algus")', placeholder='+5, today, now, 31.01.2015 14:00')

                    .form-group.col-xs-12.col-sm-6
                        label(for='kestvus') Rendiaeg
                        p(ng-if='sData.isArchived') {{ sData.kestvus.algus.db_value }}
                        select#kestvus.form-control(ng-if='!sData.isArchived', is-loading, ng-model='sData.lending.kestvus.db_value', ng-change='changeLending("kestvus")')
                            option(value='') -- vali rendi aeg --
                            option(ng-if='sData.lendingEndHours.one', value='1h') 1h - tagastus {{ sData.lendingEndHours.one }}
                            option(ng-if='!sData.lendingEndHours.one', value='1h') 1h
                            option(ng-if='sData.lendingEndHours.three', value='3h') 3h - tagastus {{ sData.lendingEndHours.three }}
                            option(ng-if='!sData.lendingEndHours.three', value='3h') 3h
                            option(value='päev') päev

                .row.spacer

                .row(ng-if='sData.lending._id')
                    .col-xs-12
                        table.table
                            thead
                                tr
                                    th Varustus
                                    th.text-center Algus
                                    th.text-center(colspan=2) Lõpp
                            tbody
                                tr(ng-repeat='row in sData.lendingRows | filter : search | orderBy : ["varustus.value", "l6pp.db_value"]', ng-class='{"return-time-over": row.returnTime.substring(0, 1) === "+"}')
                                    td {{ row.varustus.value }}
                                    td.text-center {{ row.algus.db_value.substring(0, 16) }}
                                    td.text-right(ng-if='row.l6pp') {{ row.l6pp.db_value.substring(0, 16) }}
                                    td.text-right {{ row.returnTime }}
                                    td.text-right(ng-if='!sData.isArchived && !row.l6pp')
                                        button.btn.btn-xs.btn-warning(ng-if='!row.algus || (row.algus && row.l6pp)', ng-click='lendLendingRow(row)') Väljasta
                                        button.btn.btn-xs.btn-info.pull-right(ng-if='row.algus && !row.l6pp', ng-click='lendLendingRow(row)') Tagasta
                                tr(ng-if='!sData.isArchived')
                                    td(colspan=5)
                                        input#search-item.form-control(is-loading, type='text', placeholder='-- lisa varustus --', ng-model='sData.addLendingRowQuery' ng-keyup='searchLendingRowItem($event)')

            .col-xs-12.col-sm-4.col-xs-offset-0
                    table.table
                        caption
                        thead
                            tr
                                th.warning ARVE
                                th.warning.text-right(colspan=3)
                                    span(ng-if='sData.lending.erply') \#{{ sData.lending.erply.db_value }}
                        tbody(ng-if='!sData.isArchived || sData.invoiceRows.length > 0')
                            tr.warning(ng-repeat='row in sData.invoiceRows | orderBy : "name" track by $index')
                                td {{ row.name }}
                                td.text-right
                                    span(ng-if='row.quantity > 1') {{ row.quantity }}&nbsp;x
                                td.text-right {{ row.price.toFixed(1).replace('.0', '.-') }}
                                td(ng-if='!sData.lending.erply')
                                    button.btn.btn-xs.btn-danger.pull-right(ng-click='deleteInvoiceRow(row.id)') Kustuta
                            tr.warning(ng-if='!sData.lending.erply')
                                td(colspan=4)
                                    select.form-control(ng-disabled='sData.prices.length < 1', ng-options='p.name for p in sData.prices | orderBy : "name"', ng-model='sData.newInvoiceRow', ng-change='addInvoiceRow(sData.newInvoiceRow); sData.newInvoiceRow = null')
                                        option(value='') -- lisa arve rida --
                            tr.warning
                                th KOKKU
                                th.text-right(colspan=2) {{ sumInvoiceRows().toFixed(1).replace('.0', '.-') }}
                                th(ng-if='!sData.lending.erply') &nbsp;

        .row.spacer

        .row(ng-if='sData.lendingRows.length > 0 && !sData.isArchived')
            .col-xs-12.text-center(ng-if='sData.isBron')
                button.btn.btn-lg.btn-warning(ng-if='!sData.lending.erply && sData.invoiceRows.length > 0', ng-click='lendAllAddInvoice()') Väljasta kõik ja loo arve
                button.btn.btn-lg.btn-warning(ng-if='sData.lending.erply || sData.invoiceRows.length === 0', ng-click='lendAllAddInvoice()') Väljasta kõik
            .col-xs-12.text-center(ng-if='sData.isOut')
                button.btn.btn-lg.btn-info(ng-if='!sData.lending.erply && sData.invoiceRows.length > 0', ng-click='lendAllAddInvoice()') Tagasta kõik ja loo arve
                button.btn.btn-lg.btn-info(ng-if='sData.lending.erply || sData.invoiceRows.length === 0', ng-click='lendAllAddInvoice()') Tagasta kõik

        .row.spacer
            //- pre.col-xs-12 {{ sData.lendingRows | json }}

    #select-item-modal.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Sulge')
                        .glyphicon.glyphicon-remove-sign
                    h4.modal-title(ng-if='sData.foundItems.length === 0') Otsing '{{ sData.addLendingRowQuery }}' ei andnud ühtegi tulemust
                    h4.modal-title(ng-if='sData.foundItems.length === 1') Otsing '{{ sData.addLendingRowQuery }}' andis ühe tulemuse
                    h4.modal-title(ng-if='sData.foundItems.length > 1') Otsing '{{ sData.addLendingRowQuery }}' andis {{ sData.foundItems.length }} tulemust
                .modal-body
                    .row(ng-if='sData.foundItems.length > 0')
                        table.table.table-hover.col-xs-12
                            tbody
                                tr.click(ng-repeat='i in sData.foundItems | orderBy : "_name"', ng-click='addLendingRow(i)')
                                    td.col-xs-1.text-right {{ i.invnr.db_value }}
                                    td.col-xs-1.text-center(style='padding:3px')
                                        img.img-thumbnail.img-circle(ng-if='i.photo', ng-src='https://nommelumepark.entu.ee/api2/file-{{ i.photo.db_value }}', style='width:30px;height:30px;')
                                    td.col-xs-10(style='width:90%')
                                        strong {{ i._name }}
                                        br
                                        small {{ i.seisukord.db_value }}
                .modal-footer
                    .col-xs-12.text-center(ng-if='sData.foundItems.length === 0') kas sisestasid otsingu õigesti?
                    .col-xs-12.text-center(ng-if='sData.foundItems.length === 1') vali kas soovid seda laenutada
                    .col-xs-12.text-center(ng-if='sData.foundItems.length > 1') vali millist neist soovid laenutada

    script.
        $('#select-item-modal').on('hidden.bs.modal', function() {
            $('#search-item').focus()
            $('#search-item').select()
        })
