script(type='text/ng-template', id='home')

  ion-view(title='Nõmme lumepark', hide-back-button='true')
    ion-nav-page

      //- ion-nav-buttons(side='right')
      //-   button.button.button-icon.ion-ios-gear-outline(menu-toggle='right', title='Seaded')
      ion-nav-buttons(side='right')
        a.button.button-clear.icon.ion-ios-compose-outline(href='#/item/')

      ion-content(padding='true' has-bouncing='false')

        ion-list.card(ng-if='!user')
          ion-item.item-icon-left.item-icon-right(href='#/login')
            i.icon.royal.ion-log-in
            h2 Sisene
            i.icon.ion-ios-arrow-right.icon-accessory

        ion-list.card(ng-if='user')
          ion-item.item-icon-left.item-icon-right(href='#/list/out')
            i.icon.assertive.ion-ios-timer-outline
            h2 Rendis
            i.icon.ion-ios-arrow-right.icon-accessory
          ion-item.item-icon-left.item-icon-right(href='#/list/bron')
            i.icon.energized.ion-ios-calendar-outline
            h2 Broneeringud
            i.icon.ion-ios-arrow-right.icon-accessory
          ion-item.item-icon-left.item-icon-right(href='#/list/archive')
            i.icon.balanced.ion-ios-checkmark-outline
            h2 Vabad
            i.icon.ion-ios-arrow-right.icon-accessory

        ion-list.card(ng-if='user')
          ion-item#do-scan.item-icon-left.item-icon-right(ng-show='preferences.p2sMode', href='p2spro://scan?callback=javascript:angular.element(document.getElementById("do-scan")).scope().scanCode("CODE")')
            i.icon.positive.ion-ios-search(title='')
            h2 Otsi triipkoodga
          ion-item#do-scan.item-icon-left.item-icon-right(ng-show='!preferences.p2sMode', ng-click='scanCode(prompt("Sisesta triipkood või inventarinumber"))')
            i.icon.positive.ion-ios-search(title='')
            h2 Otsi triipkoodga
