script(type='text/ng-template', id='return')


  ion-view(title="Tagasta")
    ion-nav-page
      ion-nav-buttons(side='right')
        button.button.button-clear.icon.ion-ios-compose-outline()

      ion-content(has-header='true')
        ion-subheader-bar.item-input-inset
          form.item-input-wrapper
            i.icon.ion-ios-search.placeholder-icon
            input#query(type='tel', ng-model='query', ng-blur='loadEntities(true, query)')
        ion-subheader-bar
          a#do-scan.button.button-clear.button-full.button-large.button-positive(ng-show="preferences.p2sMode" href='p2spro://scan?callback=javascript:angular.element(document.getElementById("do-scan")).scope().scanCode("CODE")') skänni triipkood...

          {{ lendQuery }}

        ion-refresher(on-refresh='loadEntities(true, query)', refreshing-icon='ion-ios-reloading', pulling-icon='ion-ios-arrow-thin-down')
        ion-list
          ion-item.item-icon-right(ng-repeat='entity in entities.result' href='#/item/{{ entity.id }}')
            h2 {{ entity.name }}
            p {{ entity.info }}
            i.icon.ion-ios-arrow-right.icon-accessory
        ion-infinite-scroll(ng-if='!noMoreItems', on-infinite='loadEntities(false, query)', distance='10%')
