body
    padding-top 70px
    font-family 'Raleway', sans-serif

#logo
    padding-bottom 20px

#content
    background rgba(255, 255, 255, 0.90)
    border-radius 15px

.navbar
    background rgba(255, 255, 255, 0.95)
    border none

.navbar-border
    border-bottom 1px solid rgb(221, 221, 221)

.fa-spin
    color rgb(119, 119, 119)

.form-control-feedback
    color rgb(204, 204, 204)

.btn-xs
    text-transform lowercase

.btn-lg
    text-transform uppercase

.spacer
    padding-top 20px
    padding-bottom 20px

.footer-img
    position fixed
    height 110px
    bottom 20px
    z-index -1000

.modal-body
    margin-top -1px
    padding-top 0px
    padding-bottom 0px
    max-height calc(100vh - 210px)
    overflow-y auto

.click
    cursor pointer

.modal-body
    table
        margin-bottom 0px
